.main{
    display: flex;
    background-color: beige;
    padding: 14%;
    align-items: center;
    justify-content: space-around;

}
.buttonMain{
    background-color: brown;
    color: aliceblue;
    width: 40%;
    padding: 2%;
    border: solid 3px brown;
    border-radius: 50px;
    transition: 700ms;
}
.buttonMain:hover{
    background-color: aliceblue;
    color: brown;
    transition: 700ms;
}
.buttonMain a{
    color: black;
    font-size: 20px;
}